.contenedor{
	max-width: 800px
	margin: auto;
}

.menu{
	background-color: yellow; 
}

.menu ul li{
	display: inline-block;
	margin: 0 5px;
}

.menu ul{
	float: right;
}

header {
	background-color: cyan;
	text-align: center;
	padding: 100px 0;
}

.info1 article {
	display: inline-block;
	width: 49%
}

footer nav ul li{
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}

.social li span {
	background: yellow;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	box-sizing: border-box;
	padding-top: 5px;
}

.social li span .tw {
	background: blue;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	box-sizing: border-box;
	padding-top: 5px;
}

.tw {
	background-color: red;
	color: blue;
}